.product-view{
    display: block;
    text-align: center;
    box-sizing: border-box;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.product-view-card{
    display: block;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
}